<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firecaster.saver">

    <!-- permisos internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />


    <application
        android:name="com.firecaster.saver.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- el parametro portait indica que la aplicación estará siempre en forma vertical -->
        <activity
            android:name=".MainActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Arranque desde el splash screen -->
        <!-- el theme.noActionBar quita la barra encabezado del inicio -->
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
 ATTENTION: This intent was auto-generated. Follow instructions at
  https://g.co/AppIndexing/AndroidStudio to publish your URLs.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                  ATTENTION: This data URL was auto-generated. We recommend that you use the HTTP scheme.
                  TODO: Change the host or pathPrefix as necessary.
                -->
                <data
                    android:host="saver.firecaster.com"
                    android:pathPrefix="/splashscreen"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <!-- declaracion de padre para que el action bar sepa a cual regresar -->
        <!-- Schedule -->
        <activity
            android:name=".Schedule"
            android:label="@string/schedule"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- About -->
        <activity
            android:name=".AboutApp"
            android:label="@string/about_and_help"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- Share -->
        <activity
            android:name=".Share"
            android:label="@string/share"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!-- Settings -->
        <activity
            android:name=".Settings"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            >
        </activity>
        <!-- Tutorial -->
        <activity
            android:name=".Tutorial"
            android:label="@string/title_activity_tutorial"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            >
        </activity>

        <!-- app info -->
        <activity
            android:name=".AppInfo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- external links -->
        <activity
            android:name=".ExternalLinks"
            android:label="@string/external_links"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        >

        <!-- extras -->
        <activity
            android:name=".Extras"
            android:label="@string/extras"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            >
        </activity>
        <!-- calendar -->
        <activity
            android:name=".CalendarWidgetWindow"
            android:label="@string/calendar"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            >
        </activity>

        <!-- Calendar colors -->
        <activity
            android:name=".CalendarColors"
            android:label="@string/colors_representation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Google login -->
        <activity
            android:name=".GLogin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- Contact Us -->
        <activity
            android:name=".Feedback"
            android:label="@string/feedback"
            android:parentActivityName=".AboutApp"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutApp" />
            >
        </activity>

        <!-- Changelog -->
        <activity
            android:name=".Changelog"
            android:label="@string/changelog"
            android:parentActivityName=".AboutApp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutApp" />
        </activity>
        <!-- Licenses -->
        <activity
            android:name=".Licenses"
            android:label="@string/licenses"
            android:parentActivityName=".AppInfo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppInfo" />
        </activity>
        <activity
            android:name=".InitialConfiguration"
            android:label="@string/initial_config"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--GlogOut-->
        <activity
            android:name=".GLogOut"
            android:label="@string/sign_out_accounts"
            android:parentActivityName=".Settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity android:name=".RepeatingActivity"></activity>

        <receiver android:name=".NotificationReceiver"></receiver>

    </application>

</manifest>